
body{
    background-image: linear-gradient(to right, rgba(252, 255, 71, 0.658) ,rgba(153, 247, 144, 0.664));
}

#analog{
    height: 25vw;
    width:25vw;
    background: url(clock2.png) no-repeat;
    background-size: 100%;
    margin: auto;
    position: relative;
}
#hour, #minute, #second{
    position: absolute;
    background-color: rgb(7, 7, 7);
    border: 1px black solid;
    transform-origin: bottom;
    opacity: 0.8;
   

}
#dot{
    position: absolute;
    background-color: rgb(19, 34, 122);
    border: 1px rgb(126, 128, 240) solid;
    height: 2.5%;
    width: 1.3%;
    top: 49%;
    left: 49%;
}
#hour{
    height: 25%;
    width: 1.3%;
    top: 23%;
    left: 49%;
    
   
}
#minute{
    height: 30%;
    width: 1%;
    top: 18%;
    left: 49%;
   
}
#second{
    height: 38%;
    width: 0.7%;
    top: 10%;
    left: 49%;
   
}
#time, #date{
   font-size: 3rem;
   text-align: center;
   height: 5vw;
   width: 20vw;
   color: rgb(0, 9, 59);
   margin: auto;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}